@using GirlAloneServer.Controllers.GameControllers.Startup
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container p-4">
    <h2 class="pb-2 border-bottom">@ViewData["Title"]</h2>
    <p>@(Html.Raw(PrivacyToSController.PrivacyPolicyString))</p>
</div>
