<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498672353572-a6jsnp8ncft7ehtdl2jdikhaat8ie86q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498672353572-a6jsnp8ncft7ehtdl2jdikhaat8ie86q</string>
	<key>API_KEY</key>
	<string>AIzaSyADYbNUCSUJSXRZVI2wxFPAURTt4mpgZk8</string>
	<key>GCM_SENDER_ID</key>
	<string>498672353572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Fleximind.GirlLivingAlone.IOS</string>
	<key>PROJECT_ID</key>
	<string>girllivingalone-cfcdb</string>
	<key>STORAGE_BUCKET</key>
	<string>girllivingalone-cfcdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498672353572:ios:00671be9f4a69c4928b3b1</string>
	<key>DATABASE_URL</key>
	<string>https://girllivingalone-cfcdb.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7741983622165826~5318705555</string>
</dict>
</plist>